.ConstainerTitle{
    display: flex;
    flex-direction: column;
}
.ConstainerTitle hr{
    margin-bottom: 20px !important;
    margin-top: 0px !important;
}
.TitlePages{
    margin: 16px 10px;
    color: var(--gray);
    font-size: 1rem;
    
}
.AlertInputRequired{
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--danger);
    margin-bottom: 10px;

}