* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --white: #fff;
  --ice: #f5f8ff;

  --gray: #495057;
  --gray-primary: #ced4da;
  --gray-secondary: #e7e7e7;

  --blue: #007bff;
  --blue-primary: #0069d9;
  --blue-secondary: #007bff80;

  --ocean: #145893;

  --cyan: #17a2b8;
  --cyan-primary: #128192;
  --cyan-secondary: #25c7e0;

  --light-blue: #80bdff;
  --light-blue-primary: #007bff40;

  --ligth: #f8f9fa;
  --ligth-primary: #e2e6ea;
  --ligth-secondary: #f8f9fa80;

  --green: #28a745;
  --green-primary: #218838;
  --green-secondary: #28a74580;

  --dark: #23272b;
  --dark-primary: #343a40;
  --dark-secondary: #343a4080;

  --dark-gray: #6c757d;
  --dark-gray-primary: #5a6268;
  --dark-gray-secondary: #6c757d80;

  --danger: #dc3545;
  --danger-primary: #c82333;
  --danger-secondary: #dc3545;

  --warning: #ffc107;
  --warning-primary: #e0a800;
  --warning-secondary: #ffc10780;

  --indigo: #6610f2;
  --purple: #6f42c1;
  --info: #8950fc;
}

body {
  background-color: var(--ligth-primary);
}

label,
span {
  color: var(--gray);
  font-size: 0.7rem;
}

hr {
  margin: 20px 0px;
  border: 1px solid #80808036;
}

a {
  text-decoration: none;
  color: var(--gray);
  font-size: 0.8rem;
}

/* BUTTON */
button,
a {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  width: auto;
}


.btnNew {
  color: var(--white);
  background-color: var(--cyan);
}

.btnNew:hover {
  background-color: var(--cyan-primary);
}

.btnNew:focus {
  box-shadow: 0 0 0 0.2rem var(--cyan-secondary);
}

/* PRIMARY */
.btnPrimary {
  color: var(--white);
  background-color: var(--blue);
}

.btnPrimary:hover {
  background-color: var(--blue-primary);
}

.btnPrimary:focus {
  box-shadow: 0 0 0 0.2rem var(--blue-secondary);
}

/* SECONDARY */
.btnSecondary {
  color: var(--white);
  background-color: var(--dark-gray);
}

.btnSecondary:hover {
  background-color: var(--dark-gray-primary);
}

.btnSecondary:focus {
  box-shadow: 0 0 0 0.2rem var(--dark-gray-secondary);
}

/* SUCCESS */
.btnSuccess {
  color: var(--white);
  background-color: var(--green);
  width: auto;
}

.btnSuccess:hover {
  background-color: var(--green-primary);
}

.btnSuccess:focus {
  box-shadow: 0 0 0 0.2rem var(--green-secondary);
}

/* DANGER */
.btnDanger {
  color: var(--white);
  background-color: var(--danger)
}

.btnDanger:hover {
  background-color: var(--danger-primary)
}

.btnDanger:focus {
  color: var(--white);
  background-color: var(--danger-secondary)
}

/* WARNING */
.btnWarning {
  color: var(--white);
  background-color: var(--warning)
}

.btnWarning:hover {
  background-color: var(--warning-primary)
}

.btnWarning:focus {
  box-shadow: 0 0 0 0.2rem var(--warning-secondary)
}

/* DARK */
.btnDark {
  color: var(--white);
  background-color: var(--dark-primary)
}

.btnDark:hover {
  background-color: var(--dark)
}

.btnDark:focus {
  box-shadow: 0 0 0 0.2rem var(--dark-secondary)
}

/* LIGHT */
.btnLight {
  color: var(--gray);
  background-color: var(--ligth)
}

.btnLight:hover {
  background-color: var(--ligth-primary)
}

.btnLight:focus {
  box-shadow: 0 0 0 0.2rem var(--ligth-secondary)
}



select{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--gray-primary);
  outline: none;
  transition: 0.4s ease;
  background-color: var(--ice);
  cursor: pointer;
}
select:hover {
  background-color: var(--white);
}

select:focus {
  border-color: var(--light-blue);
  box-shadow: 0 0 0 0.2rem var(--light-blue-primary);
  background-color: var(--white);
}


input{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--gray-primary);
  outline: none;
  transition: 0.4s ease;
  background-color: var(--ice);
}


input:hover {
  background-color: var(--white);
}

input:focus {
  border-color: var(--light-blue);
  box-shadow: 0 0 0 0.2rem var(--light-blue-primary);
  background-color: var(--white);
}

input::placeholder {
  color: var(--gray);
}

input[type="checkbox"] {
  cursor: pointer;
}

.fieldGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: last baseline;
  gap: 10px;
}

.inputField {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.input-sm {
  width: 150px;
}

.input-md {
  width: 250px;
}

.input-lg {
  width: 350px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: var(--ocean);
  color: var(--white);
  font-size: 0.8rem;
  
}

thead th {
  padding: 10px;
  font-weight: 400;
}

tbody {
  padding: 10px;
  font-size: 0.8rem;
}

tbody td {
  padding: 5px;
  
  /* border-bottom: 1px solid var(--gray-primary); */
}

tbody tr:hover {
  background-color: var(--ice);
}

tbody .BtnAcoesTable {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
}




.icons {
  font-size: 1.2rem;
  color: var(--white);
}

.icons:hover {
  font-size: 1.2rem;
  color: var(--blue-primary);
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  gap: 5px;
}

.checkboxWrapper label {
  cursor: pointer;
}


.alertMessage {
  color: var(--danger-primary);
  font-size: 0.8rem;
}

.ContainerBtnPagesNavegation {
  display: flex;
}