.Container {
  background-image: url(../../public/ImageBackgroundLogin.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: none;
}
.ContainerForm {
  background-color: var(--ice);
  padding: 16px;
  border-radius: 15px;
  width: 300px;
  height: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ContainerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ContainerLogo label {
  display: block;
  text-align: center;
  word-wrap: break-word;
  padding: 20px;
}
.LogoTipo {
  display: flex;
  margin: 10px auto;
  border-radius: 50%;
  object-fit: cover;
}
.Form {
  padding: 16px;
}
.Form a:hover {
  text-decoration: underline;
}
.ResetPassword {
  font-size: 0.8rem;
}
.FooterForm {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  text-align: center;
}

.FooterForm .Register {
  font-size: 0.7rem;
  margin-top: 20px;
}